@font-face{
    font-family:Noto Sans CJK Regular; src:url(font/NSKR400.woff);
}
body{
    font-family:Helvetica Neue,"본고딕",sans-serif;
    margin:0 auto;
    color:rgb(150, 150, 150);
}

#header{
    position:fixed;
    width:1280px;
    top:0;
    background:#fff;
    left: 50%;
    transform: translate(-50%, 0);
}

#logo{
    float:left;
}

.menu{
    float:right;
    font-size:15px;
    font-weight:bold;
}

.menu div{
    float:left;
    padding:40px 20px 0 20px;
}

.menu div:hover{
    color:rgb(63,210,176);
    cursor:pointer;
}

#container{
    margin:0 auto;
    width:1280px;
    margin-top:80px;
}

#outer_circle{
    background-image:url(../images/outer_circle.svg);
    width:1280px;
    height:800px;
    z-index:2;
    position:absolute;
    top:80px;
}

#main_image{
    z-index:1;
}

.pipe{
    float:right;
}

.contents{
    padding:100px 0 0 30px;
    height:auto;
    overflow:hidden;
}

.subject{
    font-size:76px;
    line-height:80px;
    margin-bottom:60px;
    color:rgb(63,210,176);
}

.left{
    float:left;
}

.history{
    float:left;
}

.color div{
    width:409px;
    float:right;
}

#footer{
}
